$background-color: #E67E22;

body {
    background: $background-color;
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 62.5%;
}

.stat {
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 1em;
    max-width: 160px;
    margin: 1em;
    float: left;

    &__value {
        display: block;
        font-size: 2rem;
        text-align: center;
    }

    &__title {
        display: block;
        font-size: 1.2rem;
        text-align: center;
    }
}
